{% load static %}
{% load compress %}
{% load i18n %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">
    <link href="{% static "icon.png" %}" rel="shortcut icon" type="image/png" />

    <title>{% block page_title %}My Site{% endblock %}</title>

  {% if debug %}
    <link rel="stylesheet/less" href="{% static 'less/app.less' %}">
    <script type="text/javascript" src="{% static 'js/libs/less.min.js' %}"></script>
  {% else %}
    {% compress css %}
    <link rel="stylesheet" type="text/less" media="all" href="{% static 'less/app.less' %}">
    {% endcompress %}
  {% endif %}

    {% block styles %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    <script src="{% static 'js/ScatteredPolaroids/modernizr.min.js' %}"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
{% block body %}

  <nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 0;">
    <div class="container-fluid" style="background-color: black;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
{#        <a class="navbar-brand" href="#">Project name</a>#}
      </div>
      <div id="navbar" class="collapse navbar-collapse separation" style="margin: 20px 0 20px 0;">
        <ul class="nav navbar-nav">
          <li><a class="navbar-a" href="#home-sec" data-target="#home-sec" style="color: white; padding: 0 15px 0 0;">HOME</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="#news-sec" data-target="#news-sec" style="color: white; padding: 0 15px 0 15px;">NEWS</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="#history-sec" data-target="#history-sec" style="color: white; padding: 0 15px 0 15px;">HISTORY</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="#rooms" data-target="#rooms" style="color: white; padding: 0 15px 0 15px;">ROOMS</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="#facilities-sec" data-target="#facilities-sec" style="color: white; padding: 0 15px 0 15px;">HOTEL & FACILITIES</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="#reviews-sec" data-target="#reviews-sec" style="color: white; padding: 0 15px 0 15px;">REVIEWS</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="#online-reservations-sec" data-target="#online-reservations-sec" style="color: white; padding: 0 15px 0 15px;">ONLINE RESERVATIONS</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="http://localhost/hotels" data-target="#" style="color: white; padding: 0 0 0 15px;">OTHER HOTELS</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid nopadding" style="background-color: #f8f8f8;">
    {% block content %}{% endblock %}
  </div>

    <footer>
{#  <div class= "container-fluid footer-color">#}
      <div class="row nopadding black">
          <div class="row center-middle">
              <p class="text-center"><img src="{% static 'img/Home/Footer/logo-footer.png' %}" class="cubaism"></p>
          </div>
          <div class="row center-middle">
              <p class="text-center"><img src="{% static 'img/Home/Footer/Gold-Ornament.png' %}" class="logo"></p>
          </div>
          <div class="row center-middle-full-width" id="copyright">
              <p class="text-center"><span class="glyphicon glyphicon glyphicon-copyright-mark"></span> 2012 Nigel Hunt - Todos los derechos reservados</p>
          </div>
      </div>
  </footer>
  <!-- Google CDN jQuery with a local fallback -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.11.2.min.js"><\/script>')</script>
  {% compress js %}
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block scripts %}{% endblock %}
  {% endcompress %}

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
{% endblock %}
</body>
</html>
