/* Generic styles */

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.to-right{
    float: right;
}

.to-left{
    float: left;
}

.black{
    background-color: black;
}

.nopadding {
    padding-right: 0px;
    padding-left: 0px;
}


.facilities {
    background-image: url('../img/Home/Facilities/background.png');
}

.my-img-format {
    /*background-image: url('../img/Home/Book-Now/background.png');*/
    width: 100%;
    background-size: 100% 100%;
    float: left;
    background-repeat: no-repeat;
}

.light-upper-down-spacing{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*************** Menu Styles ***************/
.separation{
    margin-top: 20px;
    margin-bottom: 20px;
}

nav ul {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

#circle {
    padding: 3px;
    width: 6px;
    height: 4px;
    margin-top: 22px;
    border-radius: 25px;
    background-color: #cbb56c;
}

/*******************************************/


/********* Header and Message Styles *******/
.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header{
    background-image: url('../img/Home/HeaderAndMessage/background.png'), linear-gradient(#fdf8ff, #060303);
    height: 600px;
}

.hotel-name{
    color: #ffffff;
    font-size: large;
    text-transform: uppercase;
    /*text-decoration: underline;*/
    border-bottom-style: solid;
    border-bottom-color: black;
}

.hotel-logo{
    color: #ffffff;
    text-transform: lowercase;
}

/*******************************************/


/****************** Intro ******************/
.intro{
    background-image: url('../img/Home/Hotel%20Saratoga%20Intro/background.png'), linear-gradient(#fdf8ff, #060303);
    height: 400px;
}

.gallery{
    background-image: url('../img/Home/Hotel%20Saratoga%20Intro/Gallery%20Layout.png'), linear-gradient(#fdf8ff, #060303);
    height: 600px;
}

#two-columns{ padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 20%;
            padding-right: 20%;
            column-count: 2;
            -moz-column-count: 2;
            -webkit-column-count: 2;
}

/*******************************************/


/****************** News *******************/
.news{
    background-image: url('../img/Home/News/Texture%20Background.png');
}
/*******************************************/


/**************** History ******************/
.history{
    /*height: 1000px*/
    background-image: url('../img/Home/History/background.png');
}

/*******************************************/


/******************* Rooms *****************/
.rooms{
    background-image: url('../img/Home/Rooms/Capitol%20View%20Image.png');
    height: 600px;
}


#two-columns-rooms{ padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 10%;
            padding-right: 10%;
            column-count: 2;
            -moz-column-count: 2;
            -webkit-column-count: 2;
}

/*******************************************/


/****** Hotel Facilities & Reviews *********/
.overlay {
  color:#fff;
  position:absolute;
  z-index:12;
  top:50%;
  left:0;
  width:100%;
  text-align:center;
}

.big-circle {
    width: 100px;
    height: 15%;
    border-radius: 50%;
    background-color: black;
}

.spaced-row{
    border-bottom-style: solid;
    border-color: #979797;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upper-more-spaced-row{
    margin-top: 30px;
    margin-bottom: 20px;
}

/*******************************************/


/******************* Book Now **************/
.booking{
    background-image: url('../img/Home/Book-Now/background.png');
}
/*
.center-table {
  display: table;
  height: inherit;
}
.cell {
  display: table-cell;
  vertical-align: middle;
}*/

/*******************************************/



/*************** Footer Styles *************/

.center-middle{
    margin: 0 auto;
    width: 200px;
}

.cubaism{
    margin-top: 25px;
    width: 150px;
    height: 60px;
}

.logo{
    margin-top: 15px;
    margin-left: 5px;
    width: 140px;
    height: 25px;
    margin-bottom: 5px;
}

#copyright{
    color: #9b9b9b;
    width: 380px;
    margin-bottom: 25px;
}
/********************************************/