/* Generic styles */

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.to-right{
    float: right;
}

.to-left{
    float: left;
}

.black{
    background-color: black;
}

.nopadding {
    padding-right: 0px;
    padding-left: 0px;
}

.booking{
    background-image: url('../img/Home/Book-Now/background.png');
}

.facilities {
    background-image: url('../img/Home/Facilities/background.png');
}

.history{
    background-image: url('../img/Home/History/background.png');
}

.rooms{

}

.intro{
    background-image: url('../img/Home/Hotel%20Saratoga%20Intro/background.png');
}

.my-img-format {
    /*background-image: url('../img/Home/Book-Now/background.png');*/
    width: 100%;
    background-size: 100% 100%;
    float: left;
    height: 600px;
    background-repeat: no-repeat;
}

.light-upper-down-spacing{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*************** Menu Styles ***************/
.separation{
    margin-top: 20px;
    margin-bottom: 20px;
}

nav ul {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

#circle {
    width: 5px;
    height: 30px;
    margin-top: 10px;
    border-radius: 25px;
    background-color: #cbb56c;
}

/*******************************************/


/********* Header and Message Styles *******/
.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header{
    background-image: url('../img/Home/HeaderAndMessage/background.png'), linear-gradient(#fdf8ff, #060303);
}

.hotel-name{
    color: #ffffff;
    font-size: large;
    text-transform: uppercase;
    /*text-decoration: underline;*/
    border-bottom-style: solid;
    border-bottom-color: #ffffff;
}

.hotel-logo{
    color: #ffffff;
    text-transform: lowercase;
}

/*******************************************/


/****************** Intro ******************/
.intro{
    background-image: url('../img/Home/Hotel%20Saratoga%20Intro/background.png'), linear-gradient(#fdf8ff, #060303);
}

.gallery{
    background-image: url('../img/Home/Hotel%20Saratoga%20Intro/Gallery%20Layout.png'), linear-gradient(#fdf8ff, #060303);
}

#capa1 { padding-top: 30px;
         padding-bottom: 30px;
         padding-left: 20%;
         padding-right: 20%;
         /*column-width: 50%;*/
         column-count: 2;
         -moz-column-count: 2;
         -webkit-column-count: 2;
}

/*******************************************/



/****************** News *******************/
.news{
    background-image: url('../img/Home/News/Texture%20Background.png'), linear-gradient(#fdf8ff, #060303);
}
/*******************************************/


/*************** Footer Styles *************/

.center-middle{
    margin: 0 auto;
    width: 200px;
}

.cubaism{
    margin-top: 25px;
    width: 150px;
    height: 60px;
}

.logo{
    margin-top: 15px;
    margin-left: 5px;
    width: 140px;
    height: 25px;
    margin-bottom: 5px;
}

#copyright{
    color: #9b9b9b;
    width: 380px;
    margin-bottom: 25px;
}
/********************************************/