/* Generic styles */

body{
    font-family: "Open Sans";
    font-size: 14px;
}

a:hover{
    color: black;
}

.chapter_header{
    font-family: 'TimesNewRomanPSMT' ;
    font-size: 52px;
    color: #000000;
    line-height: 59px
}

.title{
    font-family: 'TimesNewRomanPSMT';
    font-size: 48px;
    color: #000000;
    line-height: 59px
}

.subtitle{
    font-family: 'TimesNewRomanPSMT' ;
    font-size: 36px;
    color: #000000;
    line-height: 59px
}

.read-more{
    font-family: 'TimesNewRomanPSMT' ;
    font-size: 20px;
    color: #000000;
    line-height: 59px;
    text-transform: uppercase;
}

.message{
    color: #bfbfbf;
    font-size: 17px;
    margin-bottom: 0;
}

.signature{
    margin: 20px 0 20px;
    font-family: 'Angelou';
    color: #bfbfbf;
    font-size: 25px;
}

.roman{
    font-family: 'TimesNewRomanPSMT';
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-collapse {
  text-align: center;
}

.navbar-a{
    color: white;
    padding: 0 15px 0 15px;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.to-right{
    float: right;
}

.to-left{
    float: left;
}

.black{
    background-color: black;
}

.nopadding {
    padding-right: 0px;
    padding-left: 0px;
}


.facilities {
    background-image: url('../img/Home/Facilities/background.png');
}

.my-img-format {
    /*background-image: url('../img/Home/Book-Now/background.png');*/
    width: 100%;
    background-size: 100% 100%;
    /*float: left;*/
    background-repeat: no-repeat;
}

.light-upper-down-spacing{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*************** Menu Styles ***************/
@media (max-width: 1065px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.separation{
    margin-top: 40px;
    margin-bottom: 30px;
}


nav ul {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 0 2px 0 2px;
}

#circle {
    padding: 3px;
    width: 6px;
    height: 4px;
    margin-top: 7px;
    border-radius: 25px;
    background-color: #cbb56c;
}

/*******************************************/


/********* Header and Message Styles *******/
.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-page-header{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.76) 100%),url('../img/Home/HeaderAndMessage/background.png');
    background-size: 100% 100%;
    height: 600px;
}

.hotel-name{
    color: #ffffff;
    font-size: 43px;
    text-transform: uppercase;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 7px
}

.hotel-logo{
    color: #ffffff;
    text-transform: lowercase;
    font-size: 22px;
}

/*******************************************/


/****************** Intro ******************/
.intro{
    background-image: url('../img/Home/Hotel%20Saratoga%20Intro/background.png');
    background-size: 100% 100%;
    height: 400px;
}

.gallery{
    background-image: url('../img/Home/Hotel%20Saratoga%20Intro/Gallery%20Layout.png'), linear-gradient(#fdf8ff, #060303);
    height: 600px;
}

/*Mobile*/
@media (max-width: 500px) {

    #two-columns{ padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 20%;
                padding-right: 20%;
                column-count: 1;
                -moz-column-count: 1;
                -webkit-column-count: 1;
    }
}
/*Full Scree*/
@media (min-width: 500px) {

    #two-columns{ padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 20%;
                padding-right: 20%;
                column-count: 2;
                -moz-column-count: 2;
                -webkit-column-count: 2;
    }
}

/*******************************************/


/****************** News *******************/
.news{
    background-image: url('../img/Home/News/Texture%20Background.png');
    padding-top: 15px;
}

.news-margin{
    margin: 0 7% 0 7%;
}

.news-title{
    color: black;
    font-size: 43px;
    line-height: 59px;
    font-family: 'TimesNewRomanPSMT';
    text-transform: uppercase;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.news-title-borders{
    border-top-style: solid;
    border-top-width: 3px;
    border-color: #d3bc78;
}

.news-page-title-ornamet{
    width: 150px;
    height: 55px;
    margin-bottom: 21px;
}

.news-row-title{
    margin-bottom: 20px;
}

.background-news-page{
    margin: 0 7% 0 7%;
    margin-top: 50px;
    background-color: #f8f8f8
}

.news-logo-saratoga{
    width: 42px;
    height: 42px;
    margin-bottom: 17px;
    margin-left: 4px;
}

.news-empty-photo{
    height: 300px;
    background-color: white;
    padding-top: 100px;
}

.news-empty-photo-ornament{
    background-color: white;
    width: 180px;
    height: 70px;
    margin: 0 auto;
}

.news-area{
    background-color: white;
    padding: 55px;
}

.empty-photo{
    background-image: url('../img/Home/News/Gold%20Ornament%20Big.png');
}

.photo-format{
    background-size: 100% 100%;
    width: 100%;
    height: 300px;
}

.photo-format-empty{
    background-size: 100% 100%;
    background-color: white;
    width: 180px;
    height: 70px;
    margin: 0 auto;
}

.new-left{
    padding-right: 10px;
}

.new-right{
    padding-left: 10px;
}

.row-previous-news{
    padding: 15px;
}

.row-previous-news-page{
    padding: 15px;
    margin-bottom: 40px;
}

.news-header{
    font-size: 36px;
    color: black;
    margin-bottom: 0px;
    font-family: 'TimesNewRomanPSMT';
}

.news-subheader{
    color: #4a4a4a;
    margin-bottom: 0px;
    font-size: 24px;
    font-family: 'TimesNewRomanPSMT';
}

.news-authorsip{
    color: #d4bd79;
    font-size: 14px;
    margin-bottom: 0px;
}

.news-body{
    color: #d4bd79;
    font-size: 20px;
    margin-top: 20px;
}

.limit-five-rows{
    max-height: 7em;
    overflow: hidden;
    line-height: 1.43;
}

.no-margin-bottom{
    margin-bottom: 0;
}

.link-previous-news{
    color: black;
    text-transform: uppercase;
    font-size: 14px;
}

.previous-news-link-ornament{
    height: 14px;
    width: 10px;
}

.news-page-read-more{
    color: black;
    text-transform: uppercase;
    font-size: 22px;
    margin: 0 10px 0 10px;
}

.news-page-block{
    margin-bottom: 40px;
    box-shadow: 0px 0px 30px #d0cccc;
    background-color: white;
    padding: 55px;
}

.news-read-more-ornament{
    width: 40px;
    height: 13px;
}

.news-page-read-more-ornament{
    width: 60px;
    height: 23px;
    margin-bottom: 7px;
}
/*******************************************/


/**************** History ******************/
.history{
    /*height: 1000px*/
    background-image: url('../img/Home/History/background.png');
    color: black;
}

.history-custom-background{
    height: 1000px;
    padding-top: 50px;
}

@media (min-width: 350px){
    .history-text-area{
        position: absolute;
        right: 60px;
        border-right-style: solid;
        padding-right: 10px;
        width: 230px;
    }
}
@media (max-width: 350px){
    .history-text-area{
        margin: 0 auto;
        border-right-style: solid;
        padding-right: 10px;
        width: 230px;
    }
}


.history-title{
    font-size:43px;
    width: 100%;
    text-align: right;
    color: white;
    text-transform: uppercase;
}

.history-img-ornament{
    width: 50px;
    height: 20px;
}

.history-page-link{
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    font-family:'TimesNewRoman';
}
/*******************************************/


/******************* Rooms *****************/
.rooms{
    background-image: url('../img/Home/Rooms/Capitol%20View%20Image.png');
    height: 600px;

    background-repeat: no-repeat;
}

/*Mobile*/
@media (min-width: 500px) {
    #two-columns-rooms{ padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 10%;
            padding-right: 10%;
            column-count: 2;
            -moz-column-count: 2;
            -webkit-column-count: 2;
    }
}

/*Full Screen*/
@media (max-width: 500px) {
    #two-columns-rooms{ padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 10%;
            padding-right: 10%;
            column-count: 1;
            -moz-column-count: 1;
            -webkit-column-count: 1;
    }
}

.table {
    display: table;
    border-collapse: separate;
    border-spacing: 30px 0;
}

.table-row {
    display: table-row
}
.col {
    display: table-cell;
    padding: 30px 0 30px 0;
}



/*
.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #fff;
}
.owl-next {
    right: 0px;
}*/
/*******************************************/


/****** Hotel Facilities & Reviews *********/
.overlay {
  color:#fff;
  position:absolute;
  z-index:12;
  top:50%;
  left:0;
  width:100%;
  text-align:center;
}

.big-circle {
    width: 100px;
    height: 15%;
    border-radius: 50%;
    background-color: black;
}

.spaced-row{
    border-bottom-style: solid;
    border-color: #979797;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upper-more-spaced-row{
    margin-top: 55px;
    margin-bottom: 20px;
}

.confort-button{
    background: none;
    border: solid;
    border-width: 1px;
    border-color: #d3bc78;
    color: black;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.limit-tree-rows{
    max-height: 4em;
    overflow: hidden;
    line-height: 1.43;
}

/*******************************************/


/******************* Book Now **************/
.booking{
    background-image: url('../img/Home/Book-Now/background.png');
}

.booking-alternative{
    background-image: url('../img/Home/Book-Now/Footer%20+%20Rectangle%2031%20Copy.png');

}

.ornament-top-left{
     width: 90px;
     width: 70px;
     position: absolute;
     left: 15px;
     top: 0;
}

.ornament-top-right{
     width: 90px;
     width: 70px;
     position: absolute;
     right: 15px;
     top: 0;
}

.ornament-bottom-right{
     width: 90px;
     width: 70px;
     position: absolute;
     right: 15px;
     bottom: 10px;
}

.ornament-bottom-left{
     width: 90px;
     width: 70px;
     position: absolute;
     left: 15px;
     bottom: 10px;
}

.book-now-button{
    background: none;
    border: solid;
    border-color: white;
    color: white;
    text-transform: uppercase;
    border-width: 1px;
    padding: 5px 15px 5px 15px;
    font-weight: bold;
}

/*Full Screen*/
@media (min-width: 575px) {
    .online-reservation{
    font-family: 'TimesNewRomanPSMT' ;
    line-height: 59px;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    }

    .ornament-text{
    width: 60px;
    height: 20px;
    }

    .book-now-message{
        font-size: 20px;
        color: white;
    }
}

/*Phone*/
@media (max-width: 575px){
    .online-reservation{
        font-family: 'TimesNewRomanPSMT' ;
        line-height: 59px;
        text-transform: uppercase;
        color: white;
        font-size: 18px;
    }

    .ornament-text{
    width: 30px;
    height: 10px;
    }

    .book-now-message{
        font-size: 13px;
        color: white;
    }
}

.booking-saratoga-logo{
    padding-top: 25px;
}

.ten-px-padding-top{
    padding-top: 10px;
}

.thirty-px-margin-top{
    margin-top: 30px;
}

.eighty-px-margin-top{
    margin-top: 80px;
}

.rotate_hundred_eighty_degrees{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/*
.center-table {
  display: table;
  height: inherit;
}
.cell {
  display: table-cell;
  vertical-align: middle;
}*/

/*******************************************/



/*************** Footer Styles *************/
.center-midddle-full-width{
    margin: 0 auto;
    width: 100%;
}


.center-middle{
    margin: 0 auto;
    width: 200px;
}

.cubaism{
    margin-top: 25px;
    width: 150px;
    height: 60px;
}

.logo{
    margin-top: 15px;
    margin-left: 5px;
    width: 140px;
    height: 25px;
    margin-bottom: 5px;
}

#copyright{
    color: #9b9b9b;
    /*width: 450px;*/
    font-size: 14px;
    margin-bottom: 25px;
}
/********************************************/