@font-face {
    font-family: "TimesNewRomanPSMT";
    src: url('../fonts/Times%20New%20Roman%20MT%20Std/TimesNewRomanMTStd.otf');
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "Open Sans Light";
    src: url('../fonts/open-sans/OpenSans-Light.ttf');
}

@font-face {
    font-family: "Angelou";
    src: url('../fonts/Angelou.otf');
}