{% extends 'base/navbar-page.html' %}
{% load static %}

{% block page_title %}Saratoga History{% endblock %}

{% block content %}

    {# Book #}
    <section id="online-reservations-sec">
        <div class="booking-alternative my-img-format">
            <div class="row ten-px-padding-top">
                <div class="col-sm-12">
                    <p class="text-center booking-saratoga-logo">
                        <img class="saratoga-logo-custom-dimensions" src="{{ STATIC_URL }}img/Home/Book-Now/Saratoga Logo.png">
                    </p>
                </div>
                <div class="col-sm-12">
                    <p class="text-center">
                        <img class="img-responsive only_center" src="{{ STATIC_URL }}img/News/Gold Ornament5.png">
                    </p>
                    <p class="text-center book-now-message"><b> You can make an online reservation in Cubaism.com <br> for more info or make a reservation: </b></p>
                    <p class="text-center">
                        <img class="rotate_hundred_eighty_degrees img-responsive only_center" src="{{ STATIC_URL }}img/News/Gold Ornament5.png">
                    </p>
                    <p class="text-center thirty-px-margin-top"><a class="book-now-button roman custom-book-know" href="https://www.cubaism.com/basket/hotel-rates.aspx?htlID=407&lngID=1">book now</a></p>
                </div>
            </div>
        </div>
    </section>


    {# History #}
    <section id="history-sec">
        <div class="row history my-img-format history-custom-background">
            <div class="page-history-text-area">
                <div style="padding-right: 10%">
                    <p class="title page-history-title" >history</p>
                    <br>
                    {% for i in  history_text %}
                        <p align="left" style="font-size: 20px;">{{ i }}</p>
                        <br>
                    {% endfor %}
                </div>
                <div style="padding-right: 35px;" id="last-par">
                    <p align="left" id="last-par-par" style="height: 350px; font-size: 20px;" >
                        <img id="last-par-img" src="{{ STATIC_URL }}img/Home/History/saratoga.png" align="right" width="350px" height="350px">
                        {{ last_paragraph }}
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}