{% extends 'base.html' %}

{% block content %}

    {# Book #}
    <section id="online-reservations-sec">
        <div class="booking-alternative my-img-format">
            <div class="row ten-px-padding-top">
                <div class="col-sm-12">
                    <p class="text-center booking-saratoga-logo">
                        <img class="saratoga-logo-custom-dimensions" src="{{ STATIC_URL }}img/Home/Book-Now/Saratoga Logo.png">
                    </p>
                </div>
                <div class="col-sm-12">
                    <p class="text-center">
                        <img src="{{ STATIC_URL }}img/News/Gold Ornament5.png">
                    </p>
                    <p class="text-center book-now-message"><b> You can make an online reservation in Cubaism.com <br> for more info or make a reservation: </b></p>
                    <p class="text-center">
                        <img class="rotate_hundred_eighty_degrees" src="{{ STATIC_URL }}img/News/Gold Ornament5.png">
                    </p>
                    <p class="text-center thirty-px-margin-top"><a class="book-now-button roman custom-book-know" href="#">book now</a></p>
                </div>
            </div>
        </div>
    </section>


    {# History #}
    <section id="history-sec">
        <div class="row history my-img-format history-custom-background">
            <div class="history-text-area">
                <p class="title history-title" >history</p>
                <p class="text-right">
                    Toward 1933 on Prado street intersection with Dragones street was located Saratoga Hotel, it left behind its former location on Monte street, it stood the building where from then on is “Isla de Cuba Hotel”. The “new” building on Prado street was built by the Spaniard merchant Gregorio Palacios between 1879 and 1880 with the objective of lodging dwelling- houses, stores and boarding stores.
                </p>
                <p class="text-right">
                    <img class="history-img-ornament" src="{{ STATIC_URL }}img/Home/News/Gold Ornament 4.png">
                    <a class="history-page-link" href="{% url 'history' %}">Read More</a>
                </p>
            </div>
        </div>
    </section>

{% endblock %}