{% extends 'base.html' %}

{% block content %}

    {# Header and Message #}
    <div class="row">
        <div class="row my-img-format page-header parent" style="border-bottom-width: 0px;">
            <div class="row">
                <p class="text-center">
                    <span class="hotel-name"> hotel saratoga habana </span>
                </p>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="to-right" src="{{ STATIC_URL }}img/Home/HeaderAndMessage/Gold%20Ornament1.png"></img>
                </div>
                <div class="col-sm-4">
                    <p class="text-center hotel-logo">a rich and colorfull heritage close to the delights of old havana</p>
                </div>
                <div class="col-sm-4">
                    <img class="to-left" src="{{ STATIC_URL }}img/Home/HeaderAndMessage/Gold%20Ornament1.png"></img>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: black">
            <div class="col-sm-4">
                <img class="to-right" src="{{ STATIC_URL }}img/Home/HeaderAndMessage/nigelhuntPhoto.png"></img>
            </div>
            <div class="col-sm-6">
                <p class="text-left hotel-logo">
                    Todos los procesos producen un valor de retorno que puede ser consultad
                </p>
                <p class="text-left hotel-logo">
                    Nigel Alexander Hunt
                </p>
            </div>
        </div>
    </div>

    {# Intro #}
    <div class="row">
        <div class="row">
            <div class="row center-middle">
                <img src="{{ STATIC_URL }}img/Home/Hotel%20Saratoga%20Intro/Golden%20Ornament3.png">
            </div>
            <div class="row">
                <p class="text-center">
                    Hotel Saratoga, elegance and excellence
                </p>
            </div>
        </div>
        <div class="row my-img-format intro">

        </div>
        <div class="row" id="two-columns">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod ex at felis rutrum cursus. Nullam iaculis lectus in facilisis viverra. Ut dictum nulla et ullamcorper sagittis. Proin porttitor accumsan lectus. Nullam faucibus arcu aliquet orci auctor, ut vulputate diam viverra. Integer in bibendum arcu. Etiam sagittis pharetra nisl, ut efficitur sapien. Pellentesque egestas non magna et facilisis. Suspendisse elementum, eros sed aliquam pretium, ipsum dui malesuada lacus, tincidunt laoreet lacus urna eu ligula. Vivamus iaculis est non mauris vehicula, eu finibus sem euismod. Mauris nulla enim, porta at volutpat elementum, porttitor eu purus. Maecenas imperdiet tellus ligula, id finibus tortor vestibulum at. Ut tincidunt, dolor et condimentum porta, ipsum ligula fringilla erat, at convallis lorem felis id nulla. Phasellus nec facilisis diam. Cras aliquam elementum nulla, ut ultricies magna volutpat quis.</p>
            <p>Cras quis gravida dolor. Pellentesque volutpat vulputate dui id faucibus. Integer tristique dui risus, nec volutpat ligula pretium a. Quisque ut lectus turpis. Aenean non rhoncus erat, id dignissim libero. Proin libero eros, euismod non lacus sed, ornare dictum libero. Nam varius ultricies imperdiet. Duis dignissim finibus cursus. Ut velit nibh, convallis at odio non, sodales euismod sapien. Morbi at libero ut nisi feugiat fringilla. Sed tincidunt urna at dolor lobortis, eu sodales lacus imperdiet. Phasellus vel aliquet metus. Ut ut felis sapien.</p>
            <p>Curabitur sodales molestie odio, non tristique diam mattis ut. Integer et erat orci. Maecenas placerat tortor a dolor rutrum, quis laoreet neque accumsan. Vestibulum fringilla, turpis id rhoncus placerat, ligula eros aliquet ex, vitae egestas diam arcu in libero. Donec ac urna placerat, consectetur leo vel, venenatis nisi. Integer malesuada quam nisi, sit amet consectetur urna blandit non. Etiam tincidunt tempus sapien pellentesque sodales. Fusce finibus risus odio, in efficitur eros suscipit sit amet. Curabitur ut massa suscipit, consectetur lacus eleifend, condimentum tellus. Sed quis lacus id odio pharetra egestas. Phasellus sagittis ullamcorper luctus.</p>
            <p>Nulla sagittis eros eget ornare elementum. Vestibulum nisi est, porta vitae nisl et, lobortis efficitur lectus. Nullam blandit mauris neque, vestibulum fermentum est tristique eget. Suspendisse tristique eleifend risus ut ultrices. Donec semper metus nisi, egestas laoreet dolor rhoncus et. Fusce massa est, dignissim sed eros vitae, euismod pharetra sapien. Aliquam erat volutpat. Cras id ex nec mi commodo fermentum. Vestibulum et egestas neque. Proin facilisis nibh non suscipit hendrerit. Praesent porttitor tempus lacinia.</p>
            <p>Nullam imperdiet placerat ornare. Vestibulum sem ligula, laoreet vel metus eget, commodo ultrices dolor. Pellentesque in magna lorem. Fusce vel dui sed quam ornare sollicitudin at vitae sem. Ut sagittis sem eu tellus consequat rhoncus. Nulla felis nisl, convallis ac neque id, feugiat sagittis lorem. Nullam suscipit ligula at pretium finibus. Mauris dapibus malesuada quam id rhoncus. Curabitur tempus suscipit diam, dictum vestibulum ex convallis ut. Praesent fermentum justo sed metus finibus suscipit.</p>
            <p>Nulla facilisi. Aliquam vel mauris at mi lacinia vulputate. Donec commodo ipsum velit, et rutrum est condimentum vel. Donec sem nisl, accumsan ut vulputate eget, suscipit a magna. Nunc ac turpis maximus, sagittis orci eu, vehicula libero. Vestibulum auctor tincidunt nisi, eu luctus augue. Proin et pellentesque eros. Nulla at porta justo. Aliquam vitae arcu vulputate, egestas metus a, malesuada lorem. Vivamus nisl velit, sagittis auctor varius eget, ullamcorper ac lorem. Maecenas tempus nisl odio, non elementum dui vulputate euismod. In lobortis mauris egestas tortor tincidunt elementum. Nunc vitae dolor lorem. Nunc tincidunt quis lectus eget dignissim. Aliquam semper ligula varius volutpat posuere.</p>
            <p>Cras vitae pharetra magna. Aenean eu viverra ante, facilisis maximus sapien. Quisque eget lectus a elit dignissim finibus. Integer eu turpis risus. Nulla placerat ultricies efficitur. In id fermentum augue. Integer dictum arcu quis ante fermentum hendrerit. Quisque tincidunt eu lectus et posuere. Quisque vitae mauris risus. Vivamus rhoncus eros id purus laoreet euismod. Sed eu accumsan neque, et bibendum justo. Ut non finibus lacus. Suspendisse quis lacus at lectus pretium vulputate.</p>
        </div>
    </div>

    {# gallery photo #}
    <div class="row my-img-format gallery">

    </div>

    {# News #}
    <div class="row news">
        <div class="row center-middle">
            <p>
                <span class="hotel-name" style="color: black;">news</span>
            </p>
        </div>
        <div class="row news">

        </div>
        <div class="row">
            <p class="text-right text-capitalize"> previous news <img src="{{ STATIC_URL }}img/Home/News/Disclosure.png"></p>
        </div>
    </div>

    <div class="row history my-img-format" style="height: 1000px; padding-top: 20px;">
        <div style="float: right; border-right-style: solid; border-right-color: black; width: 30%; margin-right: 10%; padding-right: 10px;">
            <p style="text-align: right; color: white; text-transform: uppercase;">history</p>
            <p style="text-align: right;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod ex at felis rutrum cursus. Nullam iaculis lectus in facilisis viverra. Ut dictum nulla et ullamcorper sagittis. Proin porttitor accumsan lectus. Nullam faucibus arcu aliquet orci auctor, ut vulputate diam viverra. Integer in bibendum arcu. Etiam sagittis pharetra nisl, ut efficitur sapien. Pellentesque egestas non magna et facilisis. Suspendisse elementum, eros sed aliquam pretium, ipsum dui malesuada lacus, tincidunt laoreet lacus urna eu ligula. Vivamus iaculis est non mauris vehicula, eu finibus sem euismod. Mauris nulla enim, porta at volutpat elementum, porttitor eu purus. Maecenas imperdiet tellus ligula, id finibus tortor vestibulum at. Ut tincidunt, dolor et condimentum porta, ipsum ligula fringilla erat, at convallis lorem felis id nulla. Phasellus nec facilisis diam. Cras aliquam elementum nulla, ut ultricies magna volutpat quis.</p>
            <br>
            <p class="text-right">read more</p>
        </div>
    </div>

    {# Rooms #}
    <div class="row" style="background-color: black;">
        <div class="col-sm-7">
            <p>Aqui estoy</p>
        </div>
        <div class="col-sm-5 rooms">
            <p>En la otra columna yo</p>
        </div>
    </div>

    {# Facilities #}
    <div class="row" style="border-top: solid; border-top-color: #d3bc78;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="{{ STATIC_URL }}img/Home/Facilities/background.png" alt="Pool">
            </div>

            <div class="item">
              <img src="{{ STATIC_URL }}img/Home/Facilities/background.png" alt="Pool">
            </div>

            <div class="item">
              <img src="{{ STATIC_URL }}img/Home/Facilities/background.png" alt="Pool">
            </div>

            <div class="item">
              <img src="{{ STATIC_URL }}img/Home/Facilities/background.png" alt="Pool">
            </div>
          </div>
        </div>
    </div>
    <div style="background-color: #f8f8f8;">
        <div class="row" style="margin-left: 15%; margin-right: 15%; padding-top: 10px">
            <div class="col-sm-7" style="border-left: solid; border-left-color: #d3bc78;">
                <h3 style="color: #d3bc78; margin: 0;">
                    General Facilities
                </h3>
                <ul style="color: black;">
                    <li>Accesible in seat of wheels</li>
                    <li>Internet Access</li>
                    <li>Air conditioning in Restaurant</li>
                    <li>Air conditioning in common areas</li>
                    <li>Elevators</li>
                    <li>Box of security</li>
                    <li>Money exchange</li>
                    <li>Hall Reception</li>
                    <li>Living room of conferences</li>
                    <li>Bussiness center</li>
                    <li>Room service</li>
                    <li>Buerau of Tourism</li>
                    <li>Rent Car</li>
                    <li>Taxi Services</li>
                    <li>Laundry Services</li>
                    <li>Reception service 24 hours</li>
                    <li>Medical services(low petition)</li>
                    <li>Rooms for handicapped persons</li>
                    <li>Area for non smokers in restaurant</li>
                    <li>Area for smokers in restaurant</li>
                </ul>
            </div>
            <div class="col-sm-5" style="border-left: solid; border-left-color: #d3bc78;">
                <h3 style="color: #d3bc78; margin: 0;">
                    Sightseeing's in less than 1 km
                </h3>
                <ul style="color: black;">
                    <li>Historic Centre</li>
                    <li>National Capitoly</li>
                    <li>National Museum of Fine Arts</li>
                    <li>Grand Theatre of Havana</li>
                    <li>Museum of the Revolution</li>
                    <li>Partagas Tobacco Factory</li>
                    <li>Home of the Habano</li>
                    <li>Havanas Malecon</li>
                    <li>Revolution Square</li>
                    <li>National Library</li>
                </ul>
            </div>
        </div>
    </div>


    {# Reviews #}
    <div class="row">
        <p class="text-center">
            <img src="{{ STATIC_URL }}img/Home/Reviews/Golden Ornament.png">
        </p>
    </div>
    <div class="row" style="background-color: white; margin-left: 15%; margin-right: 15%">
        <div class="col-sm-12">
            <div class="row" style="background-color: white; border-style: outset">
                <p class="text-center" style="text-transform: uppercase;">
                    <img src="{{ STATIC_URL }}img/Home/Reviews/CheckMark.png">
                    reviews
                </p>
            </div>
            <div class="row" style="border-bottom-style: ridge">
                <div class="col-sm-4"></div>
                <div class="col-sm-8"></div>
            </div>
            <div class="row" style="border-bottom-style: ridge">
                <div class="col-sm-4"></div>
                <div class="col-sm-8"></div>
            </div>
            <div class="row" style="border-bottom-style: ridge">
                <div class="col-sm-4"></div>
                <div class="col-sm-8"></div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="text-rigth"><a href="#" style="cbackground: none; border: solid; border-color: white; color: white; text-transform: uppercase;"> book now</a></p>
                </div>
                <div class="col-sm-6">
                    <p class="text-left"><a href="#" style="cbackground: none; border: solid; border-color: white; color: white; text-transform: uppercase;"> book now</a></p>
                </div>
            </div>
        </div>
    </div>


    {# Booking Area #}
    <div class="booking my-img-format" style="color: white;">
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-2">
                <p class="text-left"><img class="" src="{{ STATIC_URL }}img/Home/Book-Now/Gold Corner Ornament1.png"></p>
            </div>
            <div class="col-sm-8">
                <p class="text-center" style="margin-top: 25px;"><img src="{{ STATIC_URL }}img/Home/Book-Now/Saratoga Logo.png"></p>
            </div>
            <div class="col-sm-2">
                  <p class="text-right"><img src="{{ STATIC_URL }}img/Home/Book-Now/Gold Corner Ornament3.png"></p>
            </div>
        </div>

        <div class="col-sm-12">
            <p class="text-center" style="text-transform: uppercase;">
                <img src="{{ STATIC_URL }}img/Home/Book-Now/GoldOrnament1.png">
                online reservation
                <img src="{{ STATIC_URL }}img/Home/Book-Now/GoldOrnament2.png">
            </p>
            <p class="text-center">If you like this hotel you can make an online reservation in Cubaism.com <br> for more info make a reservation: </p>
            <p class="text-center"><a href="#" style="cbackground: none; border: solid; border-color: white; color: white; text-transform: uppercase;"> book now</a></p>
            </p>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p class="text-left"><img src="{{ STATIC_URL }}img/Home/Book-Now/Gold Corner Ornament2.png"></p>
            </div>
            <div class="col-sm-6">
                <p class="text-right"><img src="{{ STATIC_URL }}img/Home/Book-Now/Gold Corner Ornament4.png"></p>
            </div>
        </div>

        </div>
    </div>


{% endblock %}