{% extends 'base/navbar-scroll.html' %}
{% load static %}
{% load base_extras %}

{% block page_title %}Saratoga Home{% endblock %}

{% block styles %}

    {# Polaroid CSS #}
    <link rel="stylesheet" type="text/css" href=" {% static 'css/ScatteredPolaroids/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/ScatteredPolaroids/demo.css' %}">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/ScatteredPolaroids/component.css' %}">

    {# OwlCarousel CSS #}
    <link rel="stylesheet" type="text/css" href=" {% static 'css/owlcarousel/owl.carousel.css' %}">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/owlcarousel/owl.theme.css' %}">

    {# PhotoSwipe CSS #}
    <link rel="stylesheet" type="text/css" href=" {% static 'css/PhotoSwipe/photoswipe.css' %}">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/PhotoSwipe/default-skin/default-skin.css' %}">

{% endblock %}

{% block content %}

    {# Header and Message #}
    <section id="home-sec">
        <div class="row my-img-format my-page-header parent" style="border-bottom-width: 0; margin-top: 0px;">
            <div class="row">
                <p class="text-center">
                    <span class="hotel-name subtitle"> hotel saratoga habana </span>
                </p>
            </div>
            <div class="row">
                <p class="text-center hotel-logo">
                    <img src="{{ STATIC_URL }}img/Home/HeaderAndMessage/Gold Ornament1.png">
                    a rich and colorfull heritage close to the delights of old havana
                    <img src="{{ STATIC_URL }}img/Home/HeaderAndMessage/Gold Ornament2.png">
                </p>
            </div>
        </div>

        <div class="row" style="background-color: black;">
            <div class="col-sm-3 text-center" style="margin-top: 20px;">
                <img src="{{ STATIC_URL }}img/Home/HeaderAndMessage/nigelhuntPhoto.png">
            </div>
            <div class="col-sm-7" style="margin-top: 20px;">
                    <p class="text-left message">
                       Welcome to my site dedicated to the famous and hitorical Hotel Saratoga in Habana.  I am “poco a poco” researching and updating it with the aim to provide as complete as possible record of the hotels ancient and recent history; bearing in mind that the goings-on today may one day be of historical interest.
                    </p>
                    <p class="text-left message">
                        My site is NOT the official website of the current hotel operator, and by no means endorsed by them; but I am grateful for their help with the research and supplying some of the photographs. You can make from this room reservations through the Bizloco eTravel System operated by Cubaism Ltd which has a direct contact with the current hotel operator.
                    </p>
                <p class="text-left signature">
                    Nigel Alexander Hunt
                </p>
            </div>
        </div>


        {# Intro #}
        <div id="intro">
            <div class="row">
                <div class="row" style="margin: 40px;">
                    <div class="row center-middle">
                        <img src="{{ STATIC_URL }}img/Home/Hotel Saratoga Intro/Golden Ornament3.png">
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <p class="text-center title">
                            Hotel Saratoga, elegance and excellence
                        </p>
                    </div>
                </div>
                <div class="row my-img-format intro">

                </div>
                <div class="row" id="two-columns">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod ex at felis rutrum cursus. Nullam iaculis lectus in facilisis viverra. Ut dictum nulla et ullamcorper sagittis. Proin porttitor accumsan lectus. Nullam faucibus arcu aliquet orci auctor, ut vulputate diam viverra. Integer in bibendum arcu. Etiam sagittis pharetra nisl, ut efficitur sapien. Pellentesque egestas non magna et facilisis. Suspendisse elementum, eros sed aliquam pretium, ipsum dui malesuada lacus, tincidunt laoreet lacus urna eu ligula. Vivamus iaculis est non mauris vehicula, eu finibus sem euismod. Mauris nulla enim, porta at volutpat elementum, porttitor eu purus. Maecenas imperdiet tellus ligula, id finibus tortor vestibulum at. Ut tincidunt, dolor et condimentum porta, ipsum ligula fringilla erat, at convallis lorem felis id nulla. Phasellus nec facilisis diam. Cras aliquam elementum nulla, ut ultricies magna volutpat quis.</p>
                    <p>Cras quis gravida dolor. Pellentesque volutpat vulputate dui id faucibus. Integer tristique dui risus, nec volutpat ligula pretium a. Quisque ut lectus turpis. Aenean non rhoncus erat, id dignissim libero. Proin libero eros, euismod non lacus sed, ornare dictum libero. Nam varius ultricies imperdiet. Duis dignissim finibus cursus. Ut velit nibh, convallis at odio non, sodales euismod sapien. Morbi at libero ut nisi feugiat fringilla. Sed tincidunt urna at dolor lobortis, eu sodales lacus imperdiet. Phasellus vel aliquet metus. Ut ut felis sapien.</p>
                    <p>Curabitur sodales molestie odio, non tristique diam mattis ut. Integer et erat orci. Maecenas placerat tortor a dolor rutrum, quis laoreet neque accumsan. Vestibulum fringilla, turpis id rhoncus placerat, ligula eros aliquet ex, vitae egestas diam arcu in libero. Donec ac urna placerat, consectetur leo vel, venenatis nisi. Integer malesuada quam nisi, sit amet consectetur urna blandit non. Etiam tincidunt tempus sapien pellentesque sodales. Fusce finibus risus odio, in efficitur eros suscipit sit amet. Curabitur ut massa suscipit, consectetur lacus eleifend, condimentum tellus. Sed quis lacus id odio pharetra egestas. Phasellus sagittis ullamcorper luctus.</p>
                    <p>Nulla sagittis eros eget ornare elementum. Vestibulum nisi est, porta vitae nisl et, lobortis efficitur lectus. Nullam blandit mauris neque, vestibulum fermentum est tristique eget. Suspendisse tristique eleifend risus ut ultrices. Donec semper metus nisi, egestas laoreet dolor rhoncus et. Fusce massa est, dignissim sed eros vitae, euismod pharetra sapien. Aliquam erat volutpat. Cras id ex nec mi commodo fermentum. Vestibulum et egestas neque. Proin facilisis nibh non suscipit hendrerit. Praesent porttitor tempus lacinia.</p>
                    <p>Nullam imperdiet placerat ornare. Vestibulum sem ligula, laoreet vel metus eget, commodo ultrices dolor. Pellentesque in magna lorem. Fusce vel dui sed quam ornare sollicitudin at vitae sem. Ut sagittis sem eu tellus consequat rhoncus. Nulla felis nisl, convallis ac neque id, feugiat sagittis lorem. Nullam suscipit ligula at pretium finibus. Mauris dapibus malesuada quam id rhoncus. Curabitur tempus suscipit diam, dictum vestibulum ex convallis ut. Praesent fermentum justo sed metus finibus suscipit.</p>
                    <p>Nulla facilisi. Aliquam vel mauris at mi lacinia vulputate. Donec commodo ipsum velit, et rutrum est condimentum vel. Donec sem nisl, accumsan ut vulputate eget, suscipit a magna. Nunc ac turpis maximus, sagittis orci eu, vehicula libero. Vestibulum auctor tincidunt nisi, eu luctus augue. Proin et pellentesque eros. Nulla at porta justo. Aliquam vitae arcu vulputate, egestas metus a, malesuada lorem. Vivamus nisl velit, sagittis auctor varius eget, ullamcorper ac lorem. Maecenas tempus nisl odio, non elementum dui vulputate euismod. In lobortis mauris egestas tortor tincidunt elementum. Nunc vitae dolor lorem. Nunc tincidunt quis lectus eget dignissim. Aliquam semper ligula varius volutpat posuere.</p>
                    <p>Cras vitae pharetra magna. Aenean eu viverra ante, facilisis maximus sapien. Quisque eget lectus a elit dignissim finibus. Integer eu turpis risus. Nulla placerat ultricies efficitur. In id fermentum augue. Integer dictum arcu quis ante fermentum hendrerit. Quisque tincidunt eu lectus et posuere. Quisque vitae mauris risus. Vivamus rhoncus eros id purus laoreet euismod. Sed eu accumsan neque, et bibendum justo. Ut non finibus lacus. Suspendisse quis lacus at lectus pretium vulputate.</p>
                </div>
            </div>

            {# gallery photo #}
            <div id="photostack-1" class="photostack">
                <div>
                    {% for i in polaroids %}
                        {% if not i.dummy %}
                            <figure>
                                <a class="photostack-img" onclick="activate_photoswipe('photostack-2')"><img src="{{ i.short_photo.url }}"/></a>
                                <figcaption>
                                    <h2 class="photostack-title">{{ i.caption }}</h2>
                                </figcaption>
                            </figure>
                        {% else %}
                            <figure data-dummy>
                            <a class="photostack-img" onclick="activate_photoswipe('photostack-2')"><img src="{{ i.short_photo.url }}"/></a>
                            <figcaption>
                                <h2 class="photostack-title">{{ i.caption }}</h2>
                            </figcaption>
                        </figure>
                        {% endif %}
                    {% endfor %}


                </div>
            </div>
            <div id="photostack-2" class="photostack" style="display: none;">
                    {% for i in polaroids %}
                        <figure style="display: none;">
                            <a class="photostack-img" onclick="activate_photoswipe('photostack-1')"><img src="{{ i.photo.url }}"/></a>
                        </figure>
                    {% endfor %}
            </div>
        </div>
    </section>

    {# News #}
    <section id="news-sec">
        <div class="news">
            <div class="news-margin">
                <div class="row news-row-title">
                    <div class="center-middle">
                        <p class="text-center">
                            <span class="news-title">news</span>
                            <img class="news-logo-saratoga" src="{{ STATIC_URL }}img/Home/News/News Logo.png">
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 new-left">
                        {% if left_new.image %}
                        <div>
                            <img class="photo-format nopadding" src="{{ left_new.image.url }}">
                        </div>
                        {% else %}
                        <div class="news-empty-photo">
                            <img class="photo-format-empty img-responsive " src="{{ STATIC_URL }}img/Home/News/Gold Ornament Big.png">
                        </div>
                        {% endif %}
                        <div class="news-area">
                            <div id="news-area-left">
                                <div id="sub-news-area-left">
                                    <p class="news-header">
                                        {{ left_new.title }}
                                    </p>
                                    <p class="news-subheader">{{ left_new.subtitle }}</p>
                                    <p class="news-authorsip">By {{ left_new.author }}. {{ left_new.customize_date }}</p>
                                    <p class="no-margin-bottom limit-five-rows">{{ left_new.corpus }}</p>
                                    </div>
                                </div>
                            <p class="text-center news-body">
                                <img class="news-read-more-ornament" src="{{ STATIC_URL }}img/Home/News/Gold Ornament 4.png">
                                <a href="/news{{ left_new.id }}" class="link-previous-news roman">Read More</a>
                                <img class="news-read-more-ornament" src="{{ STATIC_URL }}img/Home/News/Gold Ornament 5.png">
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 new-right">
                        {% if right_new.image %}
                        <div>
                            <img class="photo-format nopadding" src="{{ right_new.image.url }}">
                        </div>
                        {% else %}
                        <div class="news-empty-photo">
                            <img class="photo-format-empty img-responsive " src="{{ STATIC_URL }}img/Home/News/Gold Ornament Big.png">
                        </div>
                        {% endif %}
                        <div class="news-area">
                            <div id="news-area-right">
                                <div id="sub-news-area-right">
                                    <p class="news-header">
                                        {{ right_new.title }}
                                    </p>
                                    <p class="news-subheader">{{ right_new.subtitle }}</p>
                                    <p class="news-authorsip">By {{ right_new.author }}. {{ right_new.customize_date }}</p>
                                    <p class="no-margin-bottom limit-five-rows">{{ right_new.corpus }}</p>
                                </div>
                            </div>
                            <p class="text-center news-body">
                                <img class="news-read-more-ornament" src="{{ STATIC_URL }}img/Home/News/Gold Ornament 4.png">
                                <a href="/news{{ right_new.id }}" class="link-previous-news roman">Read More</a>
                                <img class="news-read-more-ornament" src="{{ STATIC_URL }}img/Home/News/Gold Ornament 5.png">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row row-previous-news">
                    <p class="text-right">
                        {% if show_previous_news %}
                            <a class="link-previous-news" href="/news{{ next_new }}">previous news</a>
                            <img class="previous-news-link-ornament" src="{{ STATIC_URL }}img/Home/News/Disclosure.png">
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </section>

    {# History #}
    <section id="history-sec">
        <div class="row history my-img-format history-custom-background" style="height: 1000px;">
            <div class="history-text-area">
                <p class="title history-title" >history</p>
                <p class="text-right">
                    {{ history_text }}
                </p>
                <p class="text-right">
                    <img class="history-img-ornament" src="{{ STATIC_URL }}img/Home/News/Gold Ornament 4.png">
                    <a class="history-page-link" href="{% url 'history' %}">Read More</a>
                </p>
            </div>
        </div>
    </section>

    {# Rooms #}
    <section id="rooms">
           <div id="owl-demo" class="owl-carousel owl-theme" style="color: white;">
              {% for room, gallery, available in rooms_list %}
                  <div class="item">
                        <div class="row" style="background-color: black;margin-bottom: 0">
                                <div class="col-sm-7" id="textrooms">
                                    <div class="row" id="two-columns-rooms" style="color: white;">
                                        <div style="background-image: url('{{ STATIC_URL }}img/Home/Rooms/Gold Ornament 6.png'); background-size: 100% 100%; height: 50px;"></div>
                                        <p style="text-transform: uppercase; font-size: 30px; text-align: center;">{{ room.room_name }}</p>
                                        <div style="background-image: url('{{ STATIC_URL }}img/Home/Rooms/Gold Ornament 7.png'); background-size: 100% 100%; height: 50px;"></div>
                                        {{ room.room_description }}
                                    </div>
                                    <div class="row">
                                        <div style="text-align: center; color: #797977; padding-left: 10%; padding-right: 10%;">{{ room.room_bottom_message }}</div>
                                    </div>
                                </div>
                                <div class="col-sm-5 rooms" id="photo-rooms">
                                    {% if available %}
                                        <button id="room-{{ room.id }}" onclick="activate_photoswipe(this.id)" style="background-image: url('{{ STATIC_URL }}img/Home/Rooms/Gallery Icon.png');
                                        background-color: transparent;
                                        background-size: 100% 100%;
                                        width: 80px;
                                        height: 80px;
                                        position: absolute;
                                        right: 0;
                                        bottom: 0;
                                        border-style: none"></button>
                                    {% endif %}
                                </div>
                                <div id="gallery-{{ room.id }}-content">
                                    {% for i in gallery %}
                                        {{room.picture_description}}
                                        <img id="gallery-{{ room.id }}-content-{{ i.id }}" src="{{ i.picture.url }}" hidden alt="{{ i.picture_description }}">
                                    {% endfor %}
                                </div>
                        </div>
                  </div>
              {% endfor %}
           </div>

            <!-- Root element of PhotoSwipe. Must have class pswp. -->
            <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                <!-- Background of PhotoSwipe.
                     It's a separate element, as animating opacity is faster than rgba(). -->
                <div class="pswp__bg"></div>

                <!-- Slides wrapper with overflow:hidden. -->
                <div class="pswp__scroll-wrap">

                    <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
                    <!-- don't modify these 3 pswp__item elements, data is added later on. -->
                    <div class="pswp__container">
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                    </div>

                    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                    <div class="pswp__ui pswp__ui--hidden">

                        <div class="pswp__top-bar">

                            <!--  Controls are self-explanatory. Order can be changed. -->

                            <div class="pswp__counter"></div>

                            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                            {#                        <button class="pswp__button pswp__button--share" title="Share"></button>#}

                            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                            <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                            <!-- element will get class pswp__preloader--active when preloader is running -->
                            <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                    <div class="pswp__preloader__cut">
                                        <div class="pswp__preloader__donut"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div>
                        </div>

                        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                        </button>

                        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                        </button>

                        <div class="pswp__caption">
                            <div class="pswp__caption__center"></div>
                        </div>

                    </div>

                </div>
            </div>
    </section>

    {# Facilities #}
    <section id="facilities-sec">
        <div class="row" style="position: absolute;z-index: 12;color: white; width:100%; text-align:center;">
            <p class="title" style="margin-bottom: 0; text-transform: uppercase; color: white; margin-top: 35px;">
                <img src="{{ STATIC_URL }}img/Home/Facilities/Gold Ornament.png" style="padding-bottom: 8px;">
                hotel facilities
                <img src="{{ STATIC_URL }}img/Home/Facilities/Gold Ornament 2.png" style="padding-bottom: 8px;">
            </p>
        </div>
        <div class="row" style="border-top: solid; border-top-color: #d3bc78;">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                {% for i in facility_count %}
                    {% if i == 0 %}
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    {% else %}
                        <li data-target="#myCarousel" data-slide-to="{{ i }}"></li>
                    {% endif %}
                {% endfor %}
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="my-img-format" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.71) 0%, rgba(38, 25, 42, 0.2) 30%, rgba(0, 0, 0, 0.64) 100%),url('{{ facilities_list|first_item_background }}'),no-repeat;
                                                    height: 600px;">
                        <div style="color: white; position: absolute; bottom: 60px; padding-left: 80px;">
                            <p class="roman" style="font-size: 36px;">{{ facilities_list|first_item_name }}</p>
                            <p style="width:800px;">{{ facilities_list|first_item_description }}</p>
                        </div>
                      </div>
                </div>

                {% for i in facilities_list|rest_items %}
                    <div class="item">
                      <div class="my-img-format" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.71) 0%, rgba(38, 25, 42, 0.2) 30%, rgba(0, 0, 0, 0.64) 100%),url('{{ i.image.url }}'),no-repeat;
                                                        height: 600px;">
                        <div style="color: white; position: absolute; bottom: 60px; padding-left: 80px;">
                            <p class="roman" style="font-size: 36px;">{{ i.name }}</p>
                            <p style="width:800px;">{{ i.description }}</p>
                        </div>
                      </div>
                    </div>
                {% endfor %}

              </div>
            </div>
        </div>
        <div style="background-color: #f8f8f8; margin-bottom:15px;">
            <div class="row" style="margin-left: 10%; margin-right: 10%; padding-top: 30px">
                <div class="col-sm-8" style="border-left: solid; border-left-color: #d3bc78;">
                    <p class="title" style="color: #d3bc78; margin: 0;">
                        General Facilities
                    </p>
                    <br>
                    <div id="two-columns-rooms" style="padding: 0;">
                        <ul class="unstyled" style="color: black; list-style-type: none; padding-left: 0;">
                            <b>
                                {% for i in general_facility_lst %}
                                    <li>{{ i.name }}</li>
                                {% endfor %}
                            </b>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4" style="border-left: solid; border-left-color: #d3bc78;">
                    <h3 class="title" style="color: #d3bc78; margin: 0;">
                        Sightseeing's in less than 1 km
                    </h3>
                    <br>
                    <ul style="color: black; list-style-type: none; padding-left: 0;">
                        <b>
                            {% for i in sightseen_lst %}
                                <li>{{ i.name }}</li>
                            {% endfor %}
                        </b>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {# Reviews #}
{#    <section id="reviews-sec">#}
{#        <div class="row" style="background-color: #f8f8f8;">#}
{#            <p class="text-center" style="margin-top: 35px;">#}
{#                <img src="{{ STATIC_URL }}img/Home/Reviews/Golden Ornament.png">#}
{#            </p>#}
{#        </div>#}
{#        <div class="row" style="background-color: white; margin-left: 10%; margin-right: 10%; margin-top: 10px; margin-bottom: 30px;#}
{#        padding-top: 20px; padding-bottom: 20px; padding-right: 10%; padding-left: 10%; border-style: outset;">#}
{#            <div class="col-sm-12">#}
{#                <div class="row" style="background-color: white;">#}
{#                    <p class="text-center" style="text-transform: uppercase;">#}
{#                        <img src="{{ STATIC_URL }}img/Home/Reviews/CheckMark.png">#}
{#                        reviews#}
{#                    </p>#}
{#                </div>#}
{#                <div class="row spaced-row">#}
{#                    <div class="col-sm-2 big-circle" style="margin-bottom: 10px; color: #d3bc78;">#}
{#                        <p style="text-align: center; margin-bottom: 0; font-size: 55px;">5</p>#}
{#                        <p style="text-align: center; margin-bottom: 0; font-size: 20px; margin-top: -17px;">of 10</p>#}
{#                    </div>#}
{#                    <div class="col-sm-10">#}
{#                        <div class="row">#}
{#                            <div class="col-sm-4" style="padding-left: 0">#}
{#                                <p style="color: #d3bc78">By Marcel Fernandez.</p>#}
{#                            </div>#}
{#                            <div class="col-sm-5" style="padding-left: 0">#}
{#                                <p style="color: #9b9b9b;">September 24, 2015. 20:30PM</p>#}
{#                            </div>#}
{#                            <div class="col-sm-3" style="padding-left: 0">#}
{#                                <p style="text-transform: uppercase;">#}
{#                                    <img style="width: 33px; height: 12px;" src="{{ STATIC_URL }}img/Home/News/Gold Ornament 4.png">#}
{#                                    read more#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                        <p class="limit-tree-rows">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod ex at felis rutrum cursus. Nullam iaculis lectus in facilisis viverra. Ut dictum nulla et ullamcorper sagittis. Proin porttitor accumsan lectus. Nullam faucibus arcu aliquet orci auctor, ut vulputate diam viverra. Integer in bibendum arcu. Etiam sagittis pharetra nisl, ut efficitur sapien. Pellentesque egestas non magna et facilisis. Suspendisse elementum, eros sed aliquam pretium, ipsum dui malesuada lacus, tincidunt laoreet lacus urna eu ligula. Vivamus iaculis est non mauris vehicula, eu finibus sem euismod. Mauris nulla enim, porta at volutpat elementum, porttitor eu purus. Maecenas imperdiet tellus ligula, id finibus tortor vestibulum at. Ut tincidunt, dolor et condimentum porta, ipsum ligula fringilla erat, at convallis lorem felis id nulla. Phasellus nec facilisis diam. Cras aliquam elementum nulla, ut ultricies magna volutpat quis.</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row spaced-row">#}
{#                    <div class="col-sm-2 big-circle" style="margin-bottom: 10px; color: #d3bc78;">#}
{#                        <p style="text-align: center; margin-bottom: 0; font-size: 55px;">5</p>#}
{#                        <p style="text-align: center; margin-bottom: 0; font-size: 20px; margin-top: -17px;">of 10</p>#}
{#                    </div>#}
{#                    <div class="col-sm-10">#}
{#                        <div class="row">#}
{#                            <div class="col-sm-4" style="padding-left: 0">#}
{#                                <p style="color: #d3bc78">By Marcel Fernandez.</p>#}
{#                            </div>#}
{#                            <div class="col-sm-5" style="padding-left: 0">#}
{#                                <p style="color: #9b9b9b;">September 24, 2015. 20:30PM</p>#}
{#                            </div>#}
{#                            <div class="col-sm-3" style="padding-left: 0">#}
{#                                <p style="text-transform: uppercase;">#}
{#                                    <img style="width: 33px; height: 12px;" src="{{ STATIC_URL }}img/Home/News/Gold Ornament 4.png">#}
{#                                    read more#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                        <p class="limit-tree-rows">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod ex at felis rutrum cursus. Nullam iaculis lectus in facilisis viverra. Ut dictum nulla et ullamcorper sagittis. Proin porttitor accumsan lectus. Nullam faucibus arcu aliquet orci auctor</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row spaced-row">#}
{#                    <div class="col-sm-2 big-circle" style="margin-bottom: 10px; color: #d3bc78;">#}
{#                        <p style="text-align: center; margin-bottom: 0; font-size: 55px;">5</p>#}
{#                        <p style="text-align: center; margin-bottom: 0; font-size: 20px; margin-top: -17px;">of 10</p>#}
{#                    </div>#}
{#                    <div class="col-sm-10">#}
{#                        <div class="row">#}
{#                            <div class="col-sm-4" style="padding-left: 0">#}
{#                                <p style="color: #d3bc78">By Marcel Fernandez.</p>#}
{#                            </div>#}
{#                            <div class="col-sm-5" style="padding-left: 0">#}
{#                                <p style="color: #9b9b9b;">September 24, 2015. 20:30PM</p>#}
{#                            </div>#}
{#                            <div class="col-sm-3" style="padding-left: 0">#}
{#                                <p style="text-transform: uppercase;">#}
{#                                    <img style="width: 33px; height: 12px;" src="{{ STATIC_URL }}img/Home/News/Gold Ornament 4.png">#}
{#                                    read more#}
{#                                </p>#}
{#                            </div>#}
{#                        </div>#}
{#                        <p class="limit-tree-rows">#}
{#                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod ex at felis rutrum cursus. Nullam iaculis lectus in facilisis viverra. Ut dictum nulla et ullamcorper sagittis. Proin porttitor accumsan lectus. Nullam faucibus arcu aliquet orci auctor, ut vulputate diam viverra. Integer in bibendum arcu. Etiam sagittis pharetra nisl, ut efficitur sapien. Pellentesque egestas non magna et facilisis. Suspendisse elementum, eros sed aliquam pretium, ipsum dui malesuada lacus, tincidunt laoreet lacus urna eu ligula. Vivamus iaculis est non mauris vehicula, eu finibus sem euismod. Mauris nulla enim, porta at volutpat elementum, porttitor eu purus. Maecenas imperdiet tellus ligula, id finibus tortor vestibulum at. Ut tincidunt, dolor et condimentum porta, ipsum ligula fringilla erat, at convallis lorem felis id nulla. Phasellus nec facilisis diam. Cras aliquam elementum nulla, ut ultricies magna volutpat quis.#}
{#                            <a style="color: #d3bc78; text-transform: capitalize;" href="#"> read more...</a>#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row upper-more-spaced-row">#}
{#                    <div class="col-sm-6">#}
{#                        <a href="#" class="confort-button" style="float: right;">write a review</a>#}
{#                    </div>#}
{#                    <div class="col-sm-6">#}
{#                        <a href="#" class="confort-button" style="float: left;">more reviews</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

    {# Booking Area #}
    <section id="online-reservations-sec">
        <div class="booking my-img-format">
            <div class="row ten-px-padding-top">
                <div class="col-sm-12">
                    <img class="ornament-top-left" src="{{ STATIC_URL }}img/Home/Book-Now/Gold Corner Ornament1.png">
                    <p class="text-center booking-saratoga-logo"><img src="{{ STATIC_URL }}img/Home/Book-Now/Saratoga Logo.png" style="width: 200px; height: 150px;"></p>
                    <img class="ornament-top-right" src="{{ STATIC_URL }}img/Home/Book-Now/Gold Corner Ornament3.png">
                </div>
            </div>

            <div class="col-sm-12">
                <p class="text-center online-reservation">
                    <img class="ornament-text" src="{{ STATIC_URL }}img/Home/Book-Now/GoldOrnament1.png">
                    online reservation
                    <img class="ornament-text" src="{{ STATIC_URL }}img/Home/Book-Now/GoldOrnament2.png">
                </p>
                <p class="text-center book-now-message"><b> If you like this hotel you can make an online reservation in Cubaism.com <br> for more info make a reservation: </b></p>
                <p class="text-center thirty-px-margin-top"><a class="book-now-button" href="https://www.cubaism.com/basket/hotel-rates.aspx?htlID=407&lngID=1">book now</a></p>
            </div>

            <div class="row">
                <div class="col-sm-12 eighty-px-margin-top">
                    <img class="ornament-bottom-left" src="{{ STATIC_URL }}img/Home/Book-Now/Gold Corner Ornament2.png">
                    <img class="ornament-bottom-right" src="{{ STATIC_URL }}img/Home/Book-Now/Gold Corner Ornament4.png">
                </div>
            </div>
        </div>
    </section>

    {# Owl Carousel Rooms #}
    <div id="owl-demo" class="owl-carousel owl-theme" style="color: white;">
      <div class="item">
              <div class="row" style="background-color: black;margin-bottom: 0">
        {#        <div class="table-row">#}
                    <div class="col-sm-7" id="textrooms">
                        <div class="row" id="two-columns-rooms" style="color: white;">
                            <div style="background-image: url('{{ STATIC_URL }}img/Home/Rooms/Gold Ornament 6.png'); background-size: 100% 100%; height: 50px;"></div>
                            <p style="text-transform: uppercase; font-size: 30px; text-align: center;">rooms</p>
                            <div style="background-image: url('{{ STATIC_URL }}img/Home/Rooms/Gold Ornament 7.png'); background-size: 100% 100%; height: 50px;"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod ex at felis rutrum cursus. Nullam iaculis lectus in facilisis viverra. Ut dictum nulla et ullamcorper sagittis. Proin porttitor accumsan lectus. Nullam faucibus arcu aliquet orci auctor, ut vulputate diam viverra. Integer in bibendum arcu. Etiam sagittis pharetra nisl, ut efficitur sapien. Pellentesque egestas non magna et facilisis. Suspendisse elementum, eros sed aliquam pretium, ipsum dui malesuada lacus, tincidunt laoreet lacus urna eu ligula. Vivamus iaculis est non mauris vehicula, eu finibus sem euismod. Mauris nulla enim, porta at volutpat elementum, porttitor eu purus. Maecenas imperdiet tellus ligula, id finibus tortor vestibulum at. Ut tincidunt, dolor et condimentum porta, ipsum ligula fringilla erat, at convallis lorem felis id nulla. Phasellus nec facilisis diam. Cras aliquam elementum nulla, ut ultricies magna volutpat quis.</p>
                            <p>Cras quis gravida dolor. Pellentesque volutpat vulputate dui id faucibus. Integer tristique dui risus, nec volutpat ligula pretium a. Quisque ut lectus turpis. Aenean non rhoncus erat, id dignissim libero. Proin libero eros, euismod non lacus sed, ornare dictum libero. Nam varius ultricies imperdiet. Duis dignissim finibus cursus. Ut velit nibh, convallis at odio non, sodales euismod sapien. Morbi at libero ut nisi feugiat fringilla. Sed tincidunt urna at dolor lobortis, eu sodales lacus imperdiet. Phasellus vel aliquet metus. Ut ut felis sapien.</p>
                        </div>
                        <div class="row">
                            <p style="text-align: center; color: #797977; padding-left: 10%; padding-right: 10%;">Cras quis gravida dolor. Pellentesque volutpat vulputate dui id faucibus. Integer tristique dui risus, nec volutpat ligula pretium a. Quisque ut lectus turpis. Aenean non rhoncus erat, id dignissim libero. Proin libero eros, euismod non lacus sed, ornare dictum libero. Nam varius ultricies imperdiet. Duis dignissim finibus cursus.</p>
                        </div>
                    </div>
                    <div class="col-sm-5 rooms" id="photo-rooms">
                        <button id="gallery-btn" style="background-image: url('{{ STATIC_URL }}img/Home/Rooms/Gallery Icon.png');
                        background-color: transparent;
                        background-size: 100% 100%;
                        width: 80px;
                        height: 80px;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        border-style: none"></button>
                    </div>
        {#        </div>#}
            </div>
      </div>
      <div class="item">
            <div class="row" style="background-color: black;margin-bottom: 0">
        {#        <div class="table-row">#}
                    <div class="col-sm-7" id="textrooms">
                        <div class="row" id="two-columns-rooms" style="color: white;">
                            <div style="background-image: url('{{ STATIC_URL }}img/Home/Rooms/Gold Ornament 6.png'); background-size: 100% 100%; height: 50px;"></div>
                            <p style="text-transform: uppercase; font-size: 30px; text-align: center;">rooms</p>
                            <div style="background-image: url('{{ STATIC_URL }}img/Home/Rooms/Gold Ornament 7.png'); background-size: 100% 100%; height: 50px;"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod ex at felis rutrum cursus. Nullam iaculis lectus in facilisis viverra. Ut dictum nulla et ullamcorper sagittis. Proin porttitor accumsan lectus. Nullam faucibus arcu aliquet orci auctor, ut vulputate diam viverra. Integer in bibendum arcu. Etiam sagittis pharetra nisl, ut efficitur sapien. Pellentesque egestas non magna et facilisis. Suspendisse elementum, eros sed aliquam pretium, ipsum dui malesuada lacus, tincidunt laoreet lacus urna eu ligula. Vivamus iaculis est non mauris vehicula, eu finibus sem euismod. Mauris nulla enim, porta at volutpat elementum, porttitor eu purus. Maecenas imperdiet tellus ligula, id finibus tortor vestibulum at. Ut tincidunt, dolor et condimentum porta, ipsum ligula fringilla erat, at convallis lorem felis id nulla. Phasellus nec facilisis diam. Cras aliquam elementum nulla, ut ultricies magna volutpat quis.</p>
                            <p>Cras quis gravida dolor. Pellentesque volutpat vulputate dui id faucibus. Integer tristique dui risus, nec volutpat ligula pretium a. Quisque ut lectus turpis. Aenean non rhoncus erat, id dignissim libero. Proin libero eros, euismod non lacus sed, ornare dictum libero. Nam varius ultricies imperdiet. Duis dignissim finibus cursus. Ut velit nibh, convallis at odio non, sodales euismod sapien. Morbi at libero ut nisi feugiat fringilla. Sed tincidunt urna at dolor lobortis, eu sodales lacus imperdiet. Phasellus vel aliquet metus. Ut ut felis sapien.</p>
                        </div>
                        <div class="row">
                            <p style="text-align: center; color: #797977; padding-left: 10%; padding-right: 10%;">Cras quis gravida dolor. Pellentesque volutpat vulputate dui id faucibus. Integer tristique dui risus, nec volutpat ligula pretium a. Quisque ut lectus turpis. Aenean non rhoncus erat, id dignissim libero. Proin libero eros, euismod non lacus sed, ornare dictum libero. Nam varius ultricies imperdiet. Duis dignissim finibus cursus.</p>
                        </div>
                    </div>
            <div class="col-sm-5 rooms" id="photo-rooms" style="position: relative;">
                <button id="gallery-btn" style="background-image: url('{{ STATIC_URL }}img/Home/Rooms/Gallery Icon.png');
                        background-color: transparent;
                        background-size: 100% 100%;
                        width: 80px;
                        height: 80px;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        border-style: none"></button>
            </div>
        {#        </div>#}
            </div>
      </div>
      <div class="item">
            <div class="row" style="background-color: black;margin-bottom: 0">
        {#        <div class="table-row">#}
                    <div class="col-sm-7" id="textrooms">
                        <div class="row" id="two-columns-rooms" style="color: white;">
                            <div style="background-image: url('{{ STATIC_URL }}img/Home/Rooms/Gold Ornament 6.png'); background-size: 100% 100%; height: 50px;"></div>
                            <p style="text-transform: uppercase; font-size: 30px; text-align: center;">rooms</p>
                            <div style="background-image: url('{{ STATIC_URL }}img/Home/Rooms/Gold Ornament 7.png'); background-size: 100% 100%; height: 50px;"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod ex at felis rutrum cursus. Nullam iaculis lectus in facilisis viverra. Ut dictum nulla et ullamcorper sagittis. Proin porttitor accumsan lectus. Nullam faucibus arcu aliquet orci auctor, ut vulputate diam viverra. Integer in bibendum arcu. Etiam sagittis pharetra nisl, ut efficitur sapien. Pellentesque egestas non magna et facilisis. Suspendisse elementum, eros sed aliquam pretium, ipsum dui malesuada lacus, tincidunt laoreet lacus urna eu ligula. Vivamus iaculis est non mauris vehicula, eu finibus sem euismod. Mauris nulla enim, porta at volutpat elementum, porttitor eu purus. Maecenas imperdiet tellus ligula, id finibus tortor vestibulum at. Ut tincidunt, dolor et condimentum porta, ipsum ligula fringilla erat, at convallis lorem felis id nulla. Phasellus nec facilisis diam. Cras aliquam elementum nulla, ut ultricies magna volutpat quis.</p>
                            <p>Cras quis gravida dolor. Pellentesque volutpat vulputate dui id faucibus. Integer tristique dui risus, nec volutpat ligula pretium a. Quisque ut lectus turpis. Aenean non rhoncus erat, id dignissim libero. Proin libero eros, euismod non lacus sed, ornare dictum libero. Nam varius ultricies imperdiet. Duis dignissim finibus cursus. Ut velit nibh, convallis at odio non, sodales euismod sapien. Morbi at libero ut nisi feugiat fringilla. Sed tincidunt urna at dolor lobortis, eu sodales lacus imperdiet. Phasellus vel aliquet metus. Ut ut felis sapien.</p>
                        </div>
                        <div class="row">
                            <p style="text-align: center; color: #797977; padding-left: 10%; padding-right: 10%;">Cras quis gravida dolor. Pellentesque volutpat vulputate dui id faucibus. Integer tristique dui risus, nec volutpat ligula pretium a. Quisque ut lectus turpis. Aenean non rhoncus erat, id dignissim libero. Proin libero eros, euismod non lacus sed, ornare dictum libero. Nam varius ultricies imperdiet. Duis dignissim finibus cursus.</p>
                        </div>
                    </div>
                    <div class="col-sm-5 rooms" id="photo-rooms">
                        <button id="gallery-btn-3" style="background-image: url('{{ STATIC_URL }}img/Home/Rooms/Gallery Icon.png');
                        background-color: transparent;
                        background-size: 100% 100%;
                        width: 80px;
                        height: 80px;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        border-style: none"></button>
                        <!-- Root element of PhotoSwipe. Must have class pswp. -->
                        <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                            <!-- Background of PhotoSwipe.
                                 It's a separate element, as animating opacity is faster than rgba(). -->
                            <div class="pswp__bg"></div>

                            <!-- Slides wrapper with overflow:hidden. -->
                            <div class="pswp__scroll-wrap">

                                <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
                                <div class="pswp__container">
                                    <!-- don't modify these 3 pswp__item elements, data is added later on -->
                                    <div class="pswp__item"></div>
                                    <div class="pswp__item"></div>
                                    <div class="pswp__item"></div>
                                </div>

                                <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                                <div class="pswp__ui pswp__ui--hidden">

                                    <div class="pswp__top-bar">

                                        <!--  Controls are self-explanatory. Order can be changed. -->

                                        <div class="pswp__counter"></div>

                                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                                        <button class="pswp__button pswp__button--share" title="Share"></button>

                                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                                        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                                        <!-- element will get class pswp__preloader--active when preloader is running -->
                                        <div class="pswp__preloader">
                                            <div class="pswp__preloader__icn">
                                              <div class="pswp__preloader__cut">
                                                <div class="pswp__preloader__donut"></div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                        <div class="pswp__share-tooltip"></div>
                                    </div>

                                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                                    </button>

                                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                                    </button>

                                    <div class="pswp__caption">
                                        <div class="pswp__caption__center"></div>
                                    </div>

                                  </div>

                                </div>

                        </div>
                    </div>

        {#        </div>#}
            </div>
      </div>

    </div>
{% endblock %}

{% block scripts %}

    {# Polaroid JS #}
    <script src="{% static 'js/ScatteredPolaroids/classie.js' %}"></script>
    <script src="{% static 'js/ScatteredPolaroids/photostack.js' %}"></script>
    <script>

    new Photostack( document.getElementById( 'photostack-1' ), {
				callback : function( item ) {
					//console.log(item)
				}
			} );

    $(document).ready(function() {
        same_height_news();
    })
    $(window).resize(function() {
        same_height_news();
    })
    </script>

    {# OwlCarousel CSS #}
    <script src="{% static 'js/owlcarousel/owl.carousel.min.js' %}"></script>
    <script>
      $(document).ready(function() {

      $("#owl-demo").owlCarousel({

          navigation : true, // Show next and prev buttons
          slideSpeed : 300,
          paginationSpeed : 400,
          singleItem:true,
          pagination:false,
          navigationText: [
          "<i class='glyphicon glyphicon-chevron-left icon-white' style='font-size:25px;'></i>",
          "<i class='glyphicon glyphicon-chevron-right' style='font-size:25px;color:black;'></i>"
          ],

          // "singleItem:true" is a shortcut for:
          // items : 1,
          // itemsDesktop : false,
          // itemsDesktopSmall : false,
          // itemsTablet: false,
          // itemsMobile : false

      });

    });

    </script>

    {# PhotoSwipe JS #}
    <script src="{% static 'js/photoswipe/photoswipe.min.js' %}"></script>
    <script src="{% static 'js/photoswipe/photoswipe-ui-default.min.js' %}"></script>
    <script src="http://photoswipe.s3-eu-west-1.amazonaws.com/pswp/dist/photoswipe.min.js"></script>
    <script src="http://photoswipe.s3-eu-west-1.amazonaws.com/pswp/dist/photoswipe-ui-default.min.js"></script>
    <script src="{% static "js/libs/classie.js" %}"></script>

    <script>

        function activate_photoswipe(id) {
            //alert(id);
            var pswpElement = document.querySelectorAll('.pswp')[0];

            var identifier = id.split("-");

            if(identifier[0] == "room"){
                var selector = "#gallery-"+identifier[1]+"-content";
            }
            else{
                var selector = "#photostack-2"
            }

            //alert(selector);
            var my_items = $(selector + " img").map(function(){
                return {src: this.src, w: this.naturalWidth, h: this.naturalHeight, title: this.alt};
            }).get();

            // define options (if needed)
            var options = {
                history: false,
                focus: false,

                showAnimationDuration: 0,
                hideAnimationDuration: 0,
                closeOnScroll: false,
                fullscreenEl: true

            };

            if(my_items.length > 0){
                var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, my_items, options);
                gallery.init();
            }
        };

        function change_to_hotels(){
            window.location = "http://localhost:8001/hotels";
        }

        var offset = 60;

        $('.navbar li a').click(function(event) {
            event.preventDefault();
            $($(this).attr('href'))[0].scrollIntoView();
            scrollBy(0, -offset);
        });
    </script>

    {# Resize #}
    <script>
        $(document).ready(function(){
            var max_height = max($(news-area-left), $(news-area-right))
        })
    </script>

{% endblock %}