{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="row my-img-format page-header parent" style="border-bottom-width: 0px;">
            <div class="row">
                <p class="text-center">
                    <span class="hotel-name"> hotel saratoga habana </span>
                </p>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img class="to-right" src="{{ STATIC_URL }}img/Home/HeaderAndMessage/Gold%20Ornament1.png"></img>
                </div>
                <div class="col-sm-4">
                    <p class="text-center hotel-logo">a rich and colorfull heritage close to the delights of old havana</p>
                </div>
                <div class="col-sm-4">
                    <img class="to-left" src="{{ STATIC_URL }}img/Home/HeaderAndMessage/Gold%20Ornament1.png"></img>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: black">
            <div class="col-sm-4">
                <img class="to-right" src="{{ STATIC_URL }}img/Home/HeaderAndMessage/nigelhuntPhoto.png"></img>
            </div>
            <div class="col-sm-6">
                <p class="text-left hotel-logo">
                    Todos los procesos producen un valor de retorno que puede ser consultad
                </p>
                <p class="text-left hotel-logo">
                    Nigel Alexander Hunt
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="row">

        </div>
        <div class="row intro my-img-format">

        </div>
        <div class="row">

        </div>
    </div>

    <div class="row">
        <p style="text-align: center; font-size: large"> AQUI VIENE EL CARRUSEL DE IMAGENES </p>
    </div>

    <div class="row news">
        <div class="row center-middle">
            <p>
                <span class="hotel-name" style="color: black;">news</span>
            </p>
        </div>
        <div class="row news">

        </div>
        <div class="row">
            <p class="text-right text-capitalize"> previous news <a src="url({{ STATIC_URL }}'/img/Home/News/Disclosure.png' %})"></a></p>
        </div>
    </div>

    <div class="container-fluid facilities my-img-format">

    </div>

    <div class="container-fluid history my-img-format">

    </div>

    <div class="container-fluid rooms my-img-format">

    </div>

    <div class="container-fluid facilities my-img-format">

    </div>

    <div class="container-fluid booking my-img-format">

    </div>
{% endblock %}