{% extends 'base.html' %}
{% load base_extras %}

{% block content %}

    {# Hotels #}
     <div style="margin-left: 15%; margin-right: 15%; margin-top: 50px; background-color: #f8f8f8">
         <div class="row">
            <p class="text-center">
                <img class="news-page-title-ornamet" src="{{ STATIC_URL }}img/Other Hotels/Gold Ornament.png">
                <span class="news-title news-title-borders">
                    other hotels
                </span>
                <img class="news-page-title-ornamet" src="{{ STATIC_URL }}img/Other Hotels/Gold Ornament2.png">
            </p>
        </div>

        <div class="row">
            <img class="img-responsive"  src="{{ STATIC_URL }}img/Other Hotels/Gold Ornament3.png">
        </div>

        {% for i in hotels %}

         <div class="row" style="margin-top: 25px; margin-bottom: 25px;">
             <div class="col-sm-3" style="background-color: white;">
                 <div>
                    <img style="max-width: 100%; max-height: 100%" src="{{ i.photo.url }}">
                 </div>
{#                 <img src="{{ STATIC_URL }}img/other hotels/list image.png">#}
             </div>
             <div class="col-sm-9">
                <p class="roman" style="font-size: 36px; color: #4a4849; margin-bottom: 5px;">
                    {{ i.name }}
                    {% for s in i.stars|create_range %}
                        <img src="{{ STATIC_URL }}img/Other Hotels/star.png" style="width: 18px; height: 18px;">
                    {% endfor %}
                </p>
                <p style="color: #9b9b9b; margin-bottom: 5px">{{ i.address }}</p>
                <p style="margin-bottom: 5px; color: #4a4849;">{{ i.description }}</p>
             </div>
         </div>

         {% endfor %}

        <div class="row">
            <img class="img-responsive" style="margin: 20px 0 80px 0;" src="{{ STATIC_URL }}img/Other Hotels/Gold Ornament3.png">
        </div>
     </div>

    {# Book #}
    <section id="online-reservations-sec">
        <div class="booking-alternative my-img-format">
            <div class="row ten-px-padding-top">
                <div class="col-sm-12">
                    <p class="text-center booking-saratoga-logo">
                        <img class="saratoga-logo-custom-dimensions" src="{{ STATIC_URL }}img/Home/Book-Now/Saratoga Logo.png">
                    </p>
                </div>
                <div class="col-sm-12">
                    <p class="text-center">
                        <img class="img-responsive only_center" src="{{ STATIC_URL }}img/News/Gold Ornament5.png">
                    </p>
                    <p class="text-center book-now-message"><b> You can make an online reservation in Cubaism.com <br> for more info or make a reservation: </b></p>
                    <p class="text-center">
                        <img class="rotate_hundred_eighty_degrees img-responsive only_center" src="{{ STATIC_URL }}img/News/Gold Ornament5.png">
                    </p>
                    <p class="text-center thirty-px-margin-top"><a class="book-now-button roman custom-book-know" href="#">book now</a></p>
                </div>
            </div>
        </div>
    </section>


{% endblock %}