{% extends 'base.html' %}

{% block menu %}
          <li><a class="navbar-a" href="{% url 'home' %}" style="color: white; padding: 0 15px 0 0;">HOME</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="{% url 'home' %}" style="color: white; padding: 0 15px 0 15px;">NEWS</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="{% url 'home' %}" style="color: white; padding: 0 15px 0 15px;">HISTORY</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="{% url 'home' %}" style="color: white; padding: 0 15px 0 15px;">ROOMS</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="{% url 'home' %}" style="color: white; padding: 0 15px 0 15px;">HOTEL & FACILITIES</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="{% url 'home' %}" style="color: white; padding: 0 15px 0 15px;">REVIEWS</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="{% url 'home' %}" style="color: white; padding: 0 15px 0 15px;">ONLINE RESERVATIONS</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="{% url 'hotels' %}" style="color: white; padding: 0 0 0 15px;">OTHER HOTELS</a></li>
{% endblock %}