{% extends 'base.html' %}

{% block menu %}
          <li><a class="navbar-a" id="left-elem" href="{% url 'home' %}" style="color: white; padding: 0 0 0 0;">HOME</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="{% url 'home' %}" style="color: white; padding: 0 0 0 0;">NEWS</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="{% url 'home' %}" style="color: white; padding: 0 0 0 0;">HISTORY</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="{% url 'home' %}" style="color: white; padding: 0 0 0 0;">ROOMS</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="{% url 'home' %}" style="color: white; padding: 0 0 0 0;">HOTEL & FACILITIES</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="{% url 'home' %}" style="color: white; padding: 0 0 0 0;">REVIEWS</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="{% url 'home' %}" style="color: white; padding: 0 0 0 0;">ONLINE RESERVATIONS</a></li>
          <li><a id="circle"></a></li>
          <li><a class="navbar-a" href="{% url 'hotels' %}" style="color: white; padding: 0 0 0 0;">OTHER HOTELS</a></li>
{% endblock %}