{% extends 'base.html' %}
{% load base_extras %}

{% block content %}

    {# Hotels #}
     <div class="background-news-page">
        <div class="row news-row-title">
            <p class="text-center">
                <img class="news-page-title-ornamet" src="{{ STATIC_URL }}img/Other Hotels/Gold Ornament.png">
                <span class="news-title news-title-borders">
                    news
                </span>
                <img class="news-page-title-ornamet" src="{{ STATIC_URL }}img/Other Hotels/Gold Ornament2.png">
            </p>
        </div>

        {% for i in news %}
            <div class="row news-page-block">
                <p style="font-size: 43px; color: black; font-family: 'TimesNewRomanPSMT'; margin-bottom: 0px;">
                    {{ i.title }}
                </p>
                <p style="font-size: 32px; color: #4a4a4a; font-family: 'TimesNewRomanPSMT'; margin-bottom: 0px;">{{ i.subtitle }}</p>
                {% if i.image %}
                    <div>
                        <img class="img-responsive" style="margin: 10px 0 10px 0;" src="{{ i.image.url }}">
                    </div>
                {% endif %}
                <p style="font-size: 22px; color: #d4bd79; font-family: 'TimesNewRomanPSMT';">By {{ i.author }}. {{ i.date|customize_date }}</p>
                <p style="font-size: 18px; border-top-style: solid; border-top-width: 2px;  border-top-color: #979797; padding-top: 10px;">{{ i.corpus|first_paragraph }}</p>
                <div id="{{ i.id }}" class="collapse">
                    <p style="font-size: 18px;">
                        {{ i.corpus }}
                    </p>
                </div>
                <p class="text-center" style="text-transform: uppercase;">
                    <img class="news-page-read-more-ornament" src="{{ STATIC_URL }}img/Home/News/Gold Ornament 4.png">
                    <a data-toggle="collapse" class="news-page-read-more roman"  data-target="#{{ i.id }}">read more</a>
                    <img class="news-page-read-more-ornament" src="{{ STATIC_URL }}img/Home/News/Gold Ornament 5.png">
                </p>
            </div>
        {% endfor %}

         <div class="row row-previous-news-page">
                    <p class="text-left">
                        <img class="previous-news-link-ornament" src="{{ STATIC_URL }}img/News/disclosure.png">
                        <a class="link-previous-news" href="{% url 'news' %}">back to recent news</a>
                    </p>
        </div>
     </div>
    {# Book #}
    <section id="online-reservations-sec">
        <div class="booking-alternative my-img-format">
            <div class="row ten-px-padding-top">
                <div class="col-sm-12">
                    <p class="text-center booking-saratoga-logo">
                        <img src="{{ STATIC_URL }}img/Home/Book-Now/Saratoga Logo.png" style="width: 200px; height: 150px;">
                    </p>
                </div>
                <div class="col-sm-12">
                    <p class="text-center">
                        <img src="{{ STATIC_URL }}img/News/Gold Ornament5.png">
                    </p>
                    <p class="text-center book-now-message"><b> You can make an online reservation in Cubaism.com <br> for more info or make a reservation: </b></p>
                    <p class="text-center">
                        <img class="rotate_hundred_eighty_degrees" src="{{ STATIC_URL }}img/News/Gold Ornament5.png">
                    </p>
                    <p class="text-center thirty-px-margin-top"><a class="book-now-button roman" style="border-color: #d3bc79; font-size: 26px; border-width: 2px;" href="#">book now</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}