{% extends 'base.html' %}

{% block content %}

    {# Hotels #}
     <div style="margin-left: 7%; margin-right: 7%; margin-top: 50px; background-color: #f8f8f8">
        <div class="row">
            <p class="text-center" style="color: black;
                             font-size: 35px;
                             text-transform: uppercase;">
                <img src="{{ STATIC_URL }}img/Other Hotels/Gold Ornament.png">
                <span style="border-bottom-style: solid;
                             border-top-style: solid;
                             border-bottom-color: #d3bc78;
                             border-top-color: #d3bc78;">
                    news
                </span>
                <img src="{{ STATIC_URL }}img/Other Hotels/Gold Ornament2.png">
            </p>
        </div>

        <div class="row" style="background-color: white; padding: 10px;">
            <p style="font-size: 48px; color: black; text-transform: capitalize;">
                This is the title for the first post in the News Section
            </p>
            <p style="font-size: 36px; color: #4a4a4a">This is the subtitle for the first post</p>
            <p style="font-size: 20px; color: #d4bd79">By Marcel Fernández. September 24, 2015. 20:30PM</p>
            <p style="font-size: 20px; border-top-style: solid; border-top-color: #979797">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod ex at felis rutrum cursus. Nullam iaculis lectus in facilisis viverra. Ut dictum nulla et ullamcorper sagittis. Proin porttitor accumsan lectus. Nullam faucibus arcu aliquet orci auctor, ut vulputate diam viverra.</p>
            <div id="demo" class="collapse">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod ex at felis rutrum cursus. Nullam iaculis lectus in facilisis viverra. Ut dictum nulla et ullamcorper sagittis. Proin porttitor accumsan lectus. Nullam faucibus arcu aliquet orci auctor, ut vulputate diam viverra.
                </p>
            </div>
            <p class="text-center" style="text-transform: uppercase;">
               <a data-toggle="collapse" data-target="#demo">read more</a>
            </p>
        </div>

     </div>

    {# Book #}
    <div class="booking-alternative my-img-format" style="color: white;">
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-12">
                <p class="text-center" style="margin-top: 25px;"><img src="{{ STATIC_URL }}img/Home/Book-Now/Saratoga Logo.png" style="width: 200px; height: 150px;"></p>
            </div>
        </div>

        <div class="col-sm-12">
            <p class="text-center subtitle" style="text-transform: uppercase; color: white; font-size: 30px;">
                <img src="{{ STATIC_URL }}img/Home/Book-Now/GoldOrnament1.png" style="width: 60px; height: 20px;">
                online reservation
                <img src="{{ STATIC_URL }}img/Home/Book-Now/GoldOrnament2.png" style="width: 60px; height: 20px;">
            </p>
            <p class="text-center" style="font-size: 20px;"><b> You can make an online reservation in Cubaism.com <br> for more info or make a reservation: </b></p>
            <p class="text-center" style="margin-top: 30px;"><a class="confort-button" href="#" style="background: none; border: solid;
            border-color: white; color: white; text-transform: uppercase; border-width: 1px;"> book now</a></p>
        </div>
    </div>
{% endblock %}