{% extends 'base.html' %}
{% load base_extras %}

{% block content %}

    {# Hotels #}
     <div class="background-news-page">
        <div class="row news-row-title">
            <p class="text-center">
                <img class="news-page-title-ornamet" src="{{ STATIC_URL }}img/Other Hotels/Gold Ornament.png">
                <span class="news-title news-title-borders">
                    news
                </span>
                <img class="news-page-title-ornamet" src="{{ STATIC_URL }}img/Other Hotels/Gold Ornament2.png">
            </p>
        </div>

        {% for i in news %}
            <div class="row news-page-block">
                <p style="font-size: 43px; color: black; font-family: 'TimesNewRomanPSMT'; margin-bottom: 0px;">
                    {{ i.title }}
                </p>
                <p style="font-size: 32px; color: #4a4a4a; font-family: 'TimesNewRomanPSMT'; margin-bottom: 0px;">{{ i.subtitle }}</p>
                {% if i.image %}
                    <div>
                        <img class="img-responsive" style="margin: 10px 0 10px 0;" src="{{ i.image.url }}">
                    </div>
                {% endif %}
                <p style="font-size: 22px; color: #d4bd79; font-family: 'TimesNewRomanPSMT';">By {{ i.author }}. {{ i.date|customize_date }}</p>
                <p style="font-size: 18px; border-top-style: solid; border-top-width: 2px;  border-top-color: #979797; padding-top: 10px;">{{ i.corpus|first_paragraph }}</p>
                <div id="{{ i.id }}" class="collapse">
                    <p style="font-size: 18px;">
                        {{ i.corpus }}
                    </p>
                </div>
                <p class="text-center" style="text-transform: uppercase;">
                    <img class="news-page-read-more-ornament" src="{{ STATIC_URL }}img/Home/News/Gold Ornament 4.png">
                    <a data-toggle="collapse" class="news-page-read-more roman"  data-target="#{{ i.id }}">read more</a>
                    <img class="news-page-read-more-ornament" src="{{ STATIC_URL }}img/Home/News/Gold Ornament 5.png">
                </p>
            </div>
        {% endfor %}
     </div>

    {# Book #}
    <div class="booking-alternative my-img-format" style="color: white;">
        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-12">
                <p class="text-center" style="margin-top: 25px;"><img src="{{ STATIC_URL }}img/Home/Book-Now/Saratoga Logo.png" style="width: 200px; height: 150px;"></p>
            </div>
        </div>

        <div class="col-sm-12">
            <p class="text-center subtitle" style="text-transform: uppercase; color: white; font-size: 30px;">
                <img src="{{ STATIC_URL }}img/Home/Book-Now/GoldOrnament1.png" style="width: 60px; height: 20px;">
                online reservation
                <img src="{{ STATIC_URL }}img/Home/Book-Now/GoldOrnament2.png" style="width: 60px; height: 20px;">
            </p>
            <p class="text-center" style="font-size: 20px;"><b> You can make an online reservation in Cubaism.com <br> for more info or make a reservation: </b></p>
            <p class="text-center" style="margin-top: 30px;"><a class="confort-button" href="#" style="background: none; border: solid;
            border-color: white; color: white; text-transform: uppercase; border-width: 1px;"> book now</a></p>
        </div>
    </div>
{% endblock %}